{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>MaskorNo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'image_det/css/bootstrap.min.css'%}" rel="stylesheet">
        <link href="{% static 'image_det/css/mdb.min.css'%}" rel="stylesheet">
        <link href="{% static 'image_det/css/style.min.css'%}" rel="stylesheet">
        <link href="{% static 'image_det/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'image_det/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'image_det/css/util.css'%}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container"><div class="col-md-9 m-t-100 m-auto">
            <div class="row m-t-150">
                <div class="col-lg-5">
                    <div class="view rounded z-depth-2 mb-lg-0 mb-4 imgHolder1">
                        <img class="img-responsive cover" src="{% get_media_prefix %}{{file_url}}" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
        
                </div>
        
                <div class="col-lg-2"></div>
        
                <div class="col-lg-5" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                    <h1 class="font-weight-bold mb-3"><strong>{{status}}</strong></h1>
                </div>
            </div>
            <hr class="my-5 ">
        
        </div>
        
        </div>
        
        <script type="text/javascript" src="{%static 'image_det/js/jquery-3.3.1.min.js'%}"></script>
  
        <script type="text/javascript" src="{%static 'image_det/js/popper.min.js'%}"></script>
      
        <script type="text/javascript" src="{%static 'image_det/js/bootstrap.min.js'%}"></script>
       
        <script type="text/javascript" src="{%static 'image_det/js/mdb.min.js'%}"></script>
    </body>
</html>